body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.app-header {
  padding: 10px;
  margin: 0;
  width: 100%;
  background-color: darkseagreen;
  color: rgb(59, 60, 60);
  text-align: center;
}

.nav-bar {
  width: 100%;
  background-color: beige;
  text-align: center;
}

.nav-link {
  display: inline-block;
  width: 10%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: darkseagreen;
}

.active {
  background-color: rgb(59, 60, 60);
}
